@inject IJSRuntime JSRuntime
@inject IAPIService API
@using System.Text.Json
@using StudentTracker.Models
@using StudentTracker.Services
@using GoogleMapsComponents
@using GoogleMapsComponents.Maps
@page "/"
@rendermode InteractiveServer



@if(!ClockedIn & !ClockedOut)
{
    <button btn="button-success" @onclick="ClockIn">Clock In</button>
}
@if (ClockedIn)
{
    <h3>Clocked in at:  @TimeUpdate</h3>

    <button btn="button-success" @onclick="ClockOut">Clock Out</button>
}

@if (ClockedOut)
{
    <h3>Clocked out at: @TimeUpdate</h3>

    <button btn="button-success" @onclick="ClockIn">Clock Back In</button>
}

<div id="map" style="height:75%; width:75%; position:absolute;"></div>



<script>
    (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
        ({key: "AIzaSyBMnE0ZFjfsbW0ujvXgAhCbLULIPBKtuZM", v: "weekly"});


    async function initMap(){
        const { Map } = await google.maps.importLibrary("maps");
        const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");
        

        navigator.geolocation.getCurrentPosition(function(response) {
            const latitude = response.coords.latitude;
            const longitude = response.coords.longitude;
            const mapOptions = {
              center: {lat: latitude, lng: longitude},
              zoom: 20,
              mapTypeId: 'hybrid',
              mapId: 'DEMO_MAP_ID'
            }

        map = new Map(document.getElementById("map"), mapOptions);
        

        const marker = new AdvancedMarkerElement({
        map: map,
        position: map.center,
        title: "CurrentLocation",
        });
        console.log(mapOptions);
      });
    };
    
    window.getCoords = async () => {
    const pos = await new Promise((resolve, reject) => {
        navigator.geolocation.getCurrentPosition(resolve, reject);
    });
        console.log(pos.coords.latitude);
        console.log(pos.coords.longitude);
        return [pos.coords.latitude, pos.coords.longitude, pos.coords.accuracy];
    };


</script>

@code {
    private bool ClockedIn = false;
    private bool ClockedOut = false;
    private DateTime TimeUpdate;
    private double Latitude;
    private double Longitude;
    private double Accuracy;
    private StudentTracker.Models.Location UserLocation = new StudentTracker.Models.Location();

    public async void ClockIn()
    {
        await JSRuntime.InvokeVoidAsync("initMap");
        Console.WriteLine("Map Update: Clock In");
        ClockedIn = true;
        ClockedOut = false;
        TimeUpdate = DateTime.Now;
        var response = await JSRuntime.InvokeAsync<List<double>>("getCoords");
        Console.WriteLine($"Lat: {response[0]}, long: {response[1]}"); 
        Latitude = response[0];
        Longitude = response[1];
        Accuracy = response[2];
        StoreLocation();
        StateHasChanged();
    }

    public async void ClockOut()
    {

        await JSRuntime.InvokeVoidAsync("initMap");
        Console.WriteLine("Map Update: Clock Out");
        ClockedIn = false;
        ClockedOut = true;
        TimeUpdate = DateTime.Now;
        var response = await JSRuntime.InvokeAsync<List<double>>("getCoords");
        Console.WriteLine($"Lat: {response[0]}, long: {response[1]}");
        Latitude = response[0];
        Longitude = response[1];
        Accuracy = response[2];

    StateHasChanged();
    }

    public async void StoreLocation()
    {
        UserLocation.Latitude = Latitude;
        UserLocation.Longitude = Longitude;
        UserLocation.Accuracy = Accuracy;
        UserLocation.Timestamp = DateTime.Now;

        var json = JsonSerializer.Serialize(UserLocation);
        Console.WriteLine(json);
        string result;

        try
        {
            result = await API.CreateLocationAsync(UserLocation);
        }
        catch(Exception ex)
        {
            Console.WriteLine($"An exception occurred: {ex.Message}");
        }
    }

}